<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<!-- Navbar -->

<nav>
  <ul>
    <li><a routerLink="/lesson-form">Dərs məlumatları</a></li>
    <li><a routerLink="/student-form">Şagird məlumatları</a></li>
    <li><a routerLink="/exam-form">İmtahan məlumatları</a></li>
  </ul>
</nav>
<h1>{{ title }}</h1>
<router-outlet></router-outlet>
